{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}BILLING{% endblock title %}

{% block heading %}
    <div class="float-right header-button">
        HEADER!!!!
    </div>
    <br class="clear" />
{% endblock %}

{% block content %}
    BILLING!!!
{% endblock content %}
