{##
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set menuItem = 'api-tokens' %}

{% extends "@SolidInvoiceUser/Layout/profile.html.twig" %}

{% block title %}{{ "profile.api.title"|trans }}{% endblock title %}

{% block profile_content %}
    <div class="card">
        <div class="card-header">
            <div class="alert alert-info float-left">
                To view the API documentation, visit the <a href="{{ path('api_doc') }}" target="_blank">API documentation</a> page.
            </div>

            <div class="float-right header-button">
                <twig:CreateApiToken />
            </div>
        </div>
        <div class="card-body">

            <twig:ApiTokens />
        </div>
    </div>
{% endblock profile_content %}
